@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lora:wght@500;700&display=swap");

:root {
  --bg-color: "white";
  --input-color: #f2f2f2;
  --primary-text: #202020;
  --light-gray: #7b7b7b;
  --light-purple: rgb(150, 67, 214);
  --dark-purple: #7c18d9;

  --variable-font: "";
  --constant-font: "";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
}

#root {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
